/* ========= HERO ======== */
.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: flex-start; 
}

.hero .container {
  margin-left: 0;  
  margin-right: auto;
}

/* ==== HERO CONTAINER ВІДСТУПИ ==== */

/* Мобільна версія */
@media (max-width: 767px) {
  .hero .container {
    padding-left: 19.5px;
    padding-right: 20.5px;
  }
}

/* Планшетна версія */
@media (min-width: 768px) and (max-width: 1439px) {
  .hero .container {
    padding-left: 31.5px;
  }
}

/* Десктопна версія */
@media (min-width: 1440px) {
  .hero .container {
    padding-left: 63px;
  }
}

/* Фонове зображення + затемнення */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 0;
}

/* Контейнер */
.hero__container,
.hero__content {
  position: relative;
  z-index: 1;
}

/* == ФОНОВЕ ЗОБРАЖЕННЯ == */
/* Мобільна версія */
.hero {
  background-image: url('../img/hero-fon/fon-hero-mobile.jpg');
}

/* Планшетна */
@media (min-width: 768px) and (max-width: 1439px) {
  .hero {
    background-image: url('../img/hero-fon/fon-hero-desktop.jpg');
  }
}

/* Десктопна */
@media (min-width: 1440px) {
  .hero {
    background-image: url('../img/hero-fon/fon-hero-desktop.jpg');
  }
}



/* ======= HERO__CONTENT ====== */
.hero__content {
  text-align: left;
}


/* Планшет */
@media (min-width: 768px) and (max-width: 1439px) {
  .hero__content {
 padding: 0 40px;
  }
}

/* Десктоп */
@media (min-width: 1440px) {
  .hero__content {
    padding: 0 80px;
  }
}

/*====== HERO__TITLE ===== */
.hero__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 20px;
  color: #fff;
  font-size: 40px; /* мобілка */
}

/* Планшет */
@media (min-width: 768px) and (max-width: 1439px) {
  .hero__title {
    font-size: 40px;
  }
}

/* Десктоп */
@media (min-width: 1440px) {
  .hero__title {
    font-size: 56px;
  }
}

/* ==== HERO__SUBTITLE===== */
.hero__subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin: 0 0 20px;
  color: #fff;
  font-size: 18px; /* мобілка */
}

/* Планшет */
@media (min-width: 768px) and (max-width: 1439px) {
  .hero__subtitle {
    font-size: 18px;
  }
}

/* Десктоп */
@media (min-width: 1440px) {
  .hero__subtitle {
    width: 560px;
  }
}

/*==== HERO__BTN ==== */
.hero__btn {
  display: inline-block;
  min-width: 180px;
  height: 46px;
  padding: 10px 24px;
  border-radius: 100px;
  background-color: #6b0609;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

/* Ховер */
.hero__btn:hover,
.hero__btn:focus {
  background-color: #8b0a0f;
  transform: scale(1.03);
}

/* Планшет */
@media (min-width: 768px) and (max-width: 1439px) {
  .hero__btn {
    min-width: 200px;
  }
}

/* Десктоп */
@media (min-width: 1440px) {
  .hero__btn {
    min-width: 220px;
  }
}




/*  (мобільна версія) — перенос text видно */
.mobile-br {
  display: inline;
}

/* Планшетна версія: перенос text ховаємо */
@media (min-width: 768px) and (max-width: 1439px) {
  .mobile-br {
    display: none;
  }
}

/* Десктопна версія: перенос знову є text */
@media (min-width: 1440px) {
  .mobile-br {
    display: inline;
  }
}

