<section class="hero">
  <picture>
    <!-- WebP retina -->
    <source
      srcset="
        /img/hero-fon/fon-hero-desktop@2x-webp.webp 2x,
        /img/hero-fon/fon-hero-desktop-webp.webp    1x
      "
      type="image/webp"
      fetchpriority="high"
    />
    <!-- JPEG retina  -->
    <source
      srcset="
        /img/hero-fon/fon-hero-desktop@2x.jpg 2x,
        /img/hero-fon/fon-hero-desktop.jpg    1x
      "
      type="image/jpeg"
      fetchpriority="high"
    />

    <img
      src="/img/hero-fon/fon-hero-desktop.jpg"
      alt="Ідеальний дім"
      decoding="async"
      class="hero-bg"
      fetchpriority="high"
    />
  </picture>

  <div class="container">
    <div class="hero__container">
      <!-- Контент HERO -->
      <div class="hero__content">
        <h1 class="hero__title">
          Створіть свій <br class="mobile-br" />ідеальний дім
        </h1>
        <p class="hero__subtitle">
          Відкрийте для себе колекцію стильних та комфортних меблів, які
          перетворять ваш простір. Наша продукція поєднує в собі елегантність та
          функціональність.
        </p>

        <a href="#feedback" class="button hero__btn">Що про нас думають?</a>
      </div>
    </div>
  </div>
</section>
